body {
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}

.capa {
    width: 300px;
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 4px; 
}

.capa:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(229, 9, 20, 0.7); 
    z-index: 10;
    position: relative;
}

h2 {
    color: white;
}

div:not(.banner) {
    display: flex;
    justify-content: space-around;
}

.banner {
    position: relative;
    display: inline-block;
}

.banner-img {
    display: block;
    width: 100%;
    height: auto;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: auto;
}

.footer {
    color: #999;
    padding: 40px;
    font-size: 14px;
    background-color: black;
}

.footer a {
    color: #999;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    width: 200px;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-bottom {
    margin-top: 20px;
}

.language-btn {
    background-color: transparent;
    border: 1px solid #999;
    color: #999;
    padding: 8px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.banner-btn {
    position: absolute;
    padding: 12px 24px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.banner-btn.pt {
    right: 165px;
    bottom: 50px;
    position: absolute;
    padding: 12px 24px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.banner-btn.en {
    right: 165px;
    bottom: 70px;
    position: absolute;
    padding: 12px 24px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.logout-btn {
    background: transparent;
    border: 1px solid #e50914;
    color: #e50914;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
    width: 100px;
}

.logout-btn:hover {
    background: #e50914;
    color: white;
}